<main class="main">
  <div class="inner">
      <% if user_signed_in? %>
       <div class="greeting">
        <%= link_to "こんにちは、#{current_user.name} さん", '#', class: :greeting__link%>
      </div>
      <% end %>
    <div class="card__wrapper">
      <% @prototypes.each do |prototype| %>
       <%= render partial: "prototype", locals: { prototype: prototype } %>
      <% end %>
    </div>
  </div>
</main>
